.giveBackSelect__box {
  height: 100vh;
  .giveBackImportantInformation {
    background-color: $color-yellow;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 0;
    height: 179px;
    @media(min-width: 800px) {
      text-align: left;
      padding: 50px 140px;
    }

    .giveBackImportantInformation__header {
      font-size: 2.25rem;
      font-weight: 600;
      margin: 0;
    }

    .giveBackImportantInformation__additional {
      font-size: 1.375rem;
      color: $color-text-grey;
      margin: 0;
    }
  }
  .giveBackSteps{
    background: url("../assets/Background-Form.jpg") no-repeat right;
    background-size: cover;
    padding: 0 142px;
    height: calc(100vh - 179px);
    position: relative;
    .giveBackSteps__step{
      margin: 0;
      font-size: 1.5rem;
      color: $color-text-grey;
      padding-bottom: 4.375rem;
      padding-top: 36px;
    }
    .giveBackSteps__head{
      margin: 0;
      font-size: 2.25rem;
      font-weight: 600;
    }

      .giveBackSteps__form__item {
        padding-top: 40px;
        display: flex;
        align-items: center;
        gap: 30px;
      }

      .checkbox__form {
        appearance: none;
        width: 40px;
        height: 40px;
        border: 0.75px solid $color-text-grey;

        &:checked {
          background: $color-yellow;
        }
      }

      .adres__text {
        font-size: 1.5rem;
        font-weight: 300;
      }

      .select {
        display: flex;
        flex-direction: column;
        position: relative;
        .adres__text--select {
          display: inline-block;
          width: 300px;
          margin: 0 26px;
          padding: 8px 18px;
          font-size: 1.5rem;
          font-weight: 300;
          border: 0.75px solid $color-text-grey;
          position: relative;

          &:after {
            content: '';
            width: 57px;
            height: 26px;
            background-image: url("../assets/Arrow Down.png");
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    .dalej{
      border: 0.75px solid $color-text-grey;
      font-size: 24px;
      line-height: 32px;
      font-weight: 300;
      padding: 23px 63px;
      font-family: $font-base;
      position: absolute;
      bottom: 50px;
    }
  }

.giveBackSteps__ul{
  display: inline-block;
  border: 0.75px solid $color-text-grey;
  list-style-type: none;
  padding: 6px 36px;
  position: absolute;
  right:26px;
  top: 50px;
  li{
    &:hover{
      cursor: pointer;
    }
  }
}
.giveBackSteps__form2 {
  padding-top: 60px;
  display: flex;
  justify-content: flex-start;
}
.active{
  visibility: visible;
}
.hidden {
  visibility: hidden;
}