@import 'settings/fonts';

.slideActive {
  opacity: 1;

  .giveBackSelect__box {
    //height: 100vh;

    .giveBackImportantInformation {
      background-color: $color-yellow;
      box-sizing: border-box;
      text-align: center;
      padding: 50px 10px;
      //height: 179px;
      @media(min-width: 800px) {
        text-align: left;
        padding: 50px 140px;
      }

      .giveBackImportantInformation__header {
        font-size: 2.25rem;
        font-weight: 600;
        margin: 0;
      }

      .giveBackImportantInformation__additional {
        font-size: 1.375rem;
        color: $color-text-grey;
        margin: 0;
        padding-bottom: 10px;
      }
    }

    .giveBackSteps {
      background: url("../assets/Background-Form.jpg") no-repeat right;
      background-size: cover;
      padding: 50px 10px;
      position: relative;
      z-index: 1;
      min-height: 100vh;
      @media(min-width: 800px){
        padding: 0 142px;
      }

      .giveBackSteps__step {
        margin: 0;
        font-size: 1.5rem;
        color: $color-text-grey;
        padding-bottom: 4.375rem;
        padding-top: 36px;
      }

      .giveBackSteps__head {
        margin: 0;
        padding: 20px 0;
        font-size: 2.25rem;
        font-weight: 600;
      }

      .giveBackSteps__form__item {
        padding: 30px 0;
        display: flex;

        align-items: center;
        gap: 30px;

      }


      .adres__text {
        font-size: 1.5rem;
        font-weight: 300;
      }

      .select {
        display: flex;
        flex-direction: column;
        position: relative;

        .adres__text--select {
          display: inline-block;
          width: 300px;
          margin: 0;
          padding: 8px 18px;
          font-size: 1.5rem;
          font-weight: 300;
          border: 0.75px solid $color-text-grey;
          position: relative;
          @media(min-width: 500px){
            margin: 0 0 0 26px;
          }

          &:after {
            content: '';
            width: 57px;
            height: 26px;
            background-image: url("../assets/Arrow Down.png");
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

  }
}
.checkbox__form {
  flex-shrink: 0;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0.75px solid $color-text-grey;
  &:checked {
    background-color: yellow;
  }

}
.select--city{
  display: inline-block;
  position: relative;
}
.adres__text--select{
  display: inline-block;
  width: 300px;
  margin:20px 0;
  padding: 8px 0 8px 18px;
  font-size: 1.5rem;
  font-weight: 300;
  border: 0.75px solid $color-text-grey;
  position: relative;
  &:after {
    content: '';
    width: 57px;
    height: 26px;
    background-image: url("../assets/Arrow Down.png");
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.giveBackSteps__ul{
  display: inline-block;
  border: 0.75px solid $color-text-grey;
  list-style-type: none;
  padding: 6px 36px;
  position: absolute;
  top:50px;
  right:0;
  background: url("../assets/Background-Form.jpg") left;
  @media(min-width: 800px){
    top:70px;
  }
  li{
    &:hover{
      cursor: pointer;
    }
  }
}
.giveBackSteps__form2 {
  padding-top: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  @media (min-width: 500px){
    flex-direction: row;
  }
}
.giveBackSteps__form__text{
  font-size: 1.5rem;
  font-weight: 600;
  margin:20px 0;
}
.buttons{
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;

}
.giveBackSteps__form__button{
  margin-right: 1.5rem;
  margin-bottom: 20px;
  padding: 11px 26px;
  border: 0.75px solid $color-text-grey;
  font-family: $font-base;
  width: 263px;
  color: black;
  background-color: transparent;
}
.organizacja__input{
  width:500px;
  padding: 11px 26px;
  font-size: 1.5rem;
  font-weight: 300;
}
.giveBackSteps__form--adres{
  display: flex;

  flex-direction: column;
  @media(min-width: 1150px){
    flex-direction: row;
    gap:160px;
  }
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    @media(min-width: 1150px){
      justify-content: space-between;
    }
    .adres__text{
      max-width: 115px;
    }
    textarea{
      width: 200px;
      height: 120px;
      font-size: 1.5rem;
      font-weight: 300;
      @media(min-width: 1150px){
        width: 256px;
      }
    }
  }
}
.adres__input{
  width: 200px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 300;
  @media(min-width: 1150px){
    width: 256px;
  }
}
.adres{
  display: flex;
  flex-direction: column;
  @media(min-width: 1150px){
    flex-direction: row;
    gap:160px;

  }
  .adres__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    .adres__text{
      width: 150px;
    }
  }
}
.giveBackSelect-carousel{
  position: relative;
  height: 100vh;
  max-width:100%;
  .giveBackSelect__box{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100vh;
  }
}
.wstecz{
  color:black;
  background-color: transparent;
  width:100px;
  box-sizing: border-box;
  margin: 10px;
  position: absolute;
  left:10px;
  bottom: 5px;
  border: 0.75px solid $color-text-grey;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
  //padding: 13px 10px;
  font-family: $font-base;
  @media(min-width: 800px){
    left:142px;
    padding: 23px 63px;
    width: 200px;
    bottom: 30px;
  }
}
.dalej{
  background-color: transparent;
  color:black;
  width:100px;
  box-sizing: border-box;
  margin: 10px;
  position: absolute;
  left: 150px;
  bottom: 5px;
  border: 0.75px solid $color-text-grey;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  //padding: 13px 10px;
  font-family: $font-base;
  text-align: center;
  @media(min-width: 800px){
    left:360px;
    padding: 23px 63px;
    width: 200px;
    bottom: 30px;
  }
}


.active{
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.clicked{
  background: $color-yellow;
}
.unclicked {
  background: transparent;
}
.slide{
  opacity: 0;
  display: none;
}