.giveBackHeader__background{
  background: url('../assets/Form-Hero-Image.jpg') no-repeat right;
  background-size: cover;
  width: 50%;
}
@import 'settings/colors';
.giveBack__info{
  @media (max-width: 800px){
    width: 100%;
  }
  @media (max-width: 1200px){
    width: 100%;
    margin-right: 20px;
  }
  @media (min-width: 1200px) {
    margin-right: 8.875rem;
  }
}
.giveBack__main-section{
  min-height:  90vh;
}
.giveBackHeader__steps{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  @media(min-width:600px){
    flex-direction: row;
    margin-bottom: 40px;
  }
  .giveBackHeader__step{
    text-align: center;
    width: 88px;
    position: relative;
    margin: 10px 20px;
    @media(min-width: 1000px){
      margin:0 60px;
    }

    &:before{
      content:'';
      position: absolute;
      top:-10px;
      left:15px;
      width:100px;
      height: 100px;
      @media(min-width: 600px) {
        border: 1px solid $color-text-grey;
        transform: rotate(45deg) translate(2%, 38%);
      }
      @media(min-width: 1000px){
        width:190px;
        height: 190px;
        left:0;
        top:0;
      }
    }
    .step-number{
      font-size: 1.5rem;
      @media(min-width: 600px) {
        font-size: 1rem;
      }
      @media(min-width: 1000px){
        font-size: 2rem;
      }

    }
    .step-text{
      font-size: 1.25rem;
      @media(min-width: 600px) {
        font-size: 0.75rem;
      }
      @media(min-width: 1000px){
        font-size: 1.375rem;
      }
    }
  }
}
