@import 'settings/colors';
@import 'settings/fonts';
.register__logIn{
  height: 100vh;
}
.homeHeader_log{
  width:100%;
  .homeHeader__info{
    @media (max-width: 800px){

    }
    @media (max-width: 1200px){
      width: 100%;
      background: url('../assets/Home-Hero-Image.jpg') right no-repeat;
      background-size: cover;
    }
    @media (min-width: 1200px) and (max-width: 1400px){
      margin-right: 10px;
    }
    @media (min-width: 1400px) {
      margin-right: 8.875rem;
    }
  }
  .homeHeader__logIn{
    margin: 2.3125rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .homeHeader__logIn--signIn, .homeHeader__logIn--signUp{
      padding: 0.5625rem 0.625rem;
      font-size: 0.8125rem;
      color: $color-text-grey;
      text-decoration: none;
      @media(max-width: 800px){
        margin-right: 20px;
      }
    }
    .homeHeader__logIn--signUp{
      @include borderStyle($color-yellow);
    }
  }
  .homeHeader__nav {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .hamburger {
      margin-right: 20px;
      display: block;
      text-align: right;
      appearance: none;
      width: 40px;
      height: 40px;
      mask: url('../assets/hamburger.svg') no-repeat center;
      background-color: $color-text-grey;

      &:checked {
        ~ .homeHeader__nav--ul {
          visibility: visible;
        }
      }

      @media (min-width: 800px) {
        display: none;
      }
    }

    .homeHeader__nav--ul {
      display: flex;
      justify-content: flex-end;
      @media(max-width: 800px) {
        position: absolute;
        width: 100%;
        background: white;
        flex-direction: column;
        padding: 0.5625rem 0;
        font-size: 1.125rem;
        color: $color-text-black;
        list-style-type: none;
        visibility: hidden;
      }
      @media(min-width: 800px) {
        visibility: visible;
      }

      li {
        text-align: center;
        padding: 0.5625rem 1.25rem;
        font-size: 1.125rem;
        color: $color-text-black;
        list-style-type: none;

        &:first-of-type {
          @media (max-width: 800px) {
            border: none;
          }
          @include borderStyle($color-text-grey);
        }

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
.logIn__text{
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.4375rem;
  letter-spacing: -0.8px;
  margin: 2.6875rem auto 1.5625rem;
}
.decoration{
  margin: 0 auto;
  width: 253px;
  height: 33px;
  background: url('../assets/Decoration.svg');
}
.form-logIn{
  max-width: 500px;
  margin: 60px auto 0;
  .form-table{
    margin: 0 50px 50px 40px;
    background-color: $color-background;
    padding: 10px 100px 40px;
    .form__logIn--text{
      padding-top: 30px;
      font-size: 1rem;
      font-weight: 600;
    }
    .input-logIn{
      background-color: $color-background;
      border: none;
      width: 208px;
      border-bottom: 1px solid black;
      &:focus{
        outline: none;
        background-color: $color-background;
      }
    }
    .error{
      box-sizing: border-box;
      margin: 2px;
      width: 208px;
      font-size: 12px;
      color: red;
      font-weight: 700;
    }
  }
  .form-button{
    display: flex;
    justify-content: space-between;
    .button-logIn, .submit-button{
      font-family: $font-base;
      appearance: none;
      background-color: white;
      color: black;
      text-decoration: none;
      font-size: 1.125rem;
      padding: 13px 15px;
      &:hover{
        cursor: pointer;
      }
    }
    .submit-button{
      border-width: 0.75px;
    }
  }
}
.password-eye-div{
  position: relative;
}
.password-eye{
  position: absolute;
  top: 50%;
  right:0;
}